/*
Project Name:  SPA Todo App
-Author: Furkan DUMANLI
-Description: This project is TodoApp project for Techcareer Fullstack Bootcamp Projcet
*/

/* ##################################################### */
/* ### ROOT ###*/
:root {
    --template-bg-blue: #16A3B7;
    --template-bg-red: #DC3445;

}

/* ##################################################### */
/* ### COMMON PROPERTY ###*/
* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    font-family: 'Work Sans', sans-serif;
    position: relative;
    line-height: 1.7;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

i {
    font-size: 1.5rem;
}

.my_clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.flag {
    width: 1.5rem;
    height: 1.5rem;
}

/* ##################################################### */
/* ### MY CUSTOMIZES ###*/

.translate-link{
    text-align:right;    
}

.translate-link a{
    display:inline-block;
    padding:1rem;

}
.container {
    margin-top: 5rem;
    margin-bottom: 5rem;
}
button{
    border:none;
}
.update-delete-btn:hover{
    background-color: white !important;
}
button:hover{
    background-color: var(--template-bg-blue) !important;
}
.inputBox {
    padding: 1rem;
    border: 1px solid #E4E4E4;
    border-radius: 0.375rem;
}

.inputBox button {
    margin-left: .75rem;
    margin-right: .75rem;
}
.inputBox i,.inputBox span{
    background-color: var(--template-bg-blue);
    color:white;
}

.myButton {
    background-color: var(--template-bg-blue);
    width: 100%;
}
.deletes{
    display: inline-block;
    width: 100%;
}
.deletes button {
    
    background-color: var(--template-bg-red) !important;
    width: 100%;
}
.todo-label{
    padding: 1rem ;
}
.todo-edit input{
    margin: 0 0.5rem;
}
.todo-edit a{
    padding: 0 0.5rem;
}
.input-group-text{
    background-color: white;
}
/* ##################################################### */
/* ### LINE CLAMP ###*/
.line-clamp4 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.line-clamp6 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.line-clamp8 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}

.line-clamp10 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
}

.line-clamp15 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 15;
    -webkit-box-orient: vertical;
}

/* ##################################################### */
/* ### HEADER###*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 1) !important;
    color: white;
    max-height: 3rem;
    z-index: 1;
}

/* ##################################################### */
/* ### MAIN###*/
/* Common Property*/
main {
    position: relative;
    margin: 5rem 2rem 7rem 2rem;
}

/* ##################################################### */
/* ### FOOTER###*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#footer_copy_right {
    
    padding: 0.5rem;
}

/* ##################################################### */
/* ### BACK TOP###*/
#back_top {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: .5rem 2rem;
    margin-right: 0.6rem;
    margin-bottom: 0.6rem;
    background-color: #0B5ED7;
    color: white;
    width: .6rem;
}

#back_top:hover {
    background-color: white;
    color: #0B5ED7;
    opacity: 0.9;
    transition: all 3s;
}

/* ##################################################### */
/* ### MEDIA QUERY###*/
/* 1<=X<=767 */
@media screen and (min-width:1px) {}

/* 768<=X<=??? */
@media screen and (min-width:768px) {}